dot_config/secrets/** filter=git-crypt diff=git-crypt
dot_config/age/keys.txt filter=git-crypt diff=git-crypt
dot_config/age/keys-pq.txt filter=git-crypt diff=git-crypt
dot_config/ssh/config filter=git-crypt diff=git-crypt
dot_config/aerc/accounts.conf filter=git-crypt diff=git-crypt
dot_config/deploy/k8s/mysql/deploy-mysql-singleton.yaml filter=git-crypt diff=git-crypt
dot_config/deploy/k8s/redis/redis-config.yaml filter=git-crypt diff=git-crypt
dot_config/iterm2/com.googlecode.iterm2.plist filter=git-crypt diff=git-crypt
dot_config/adguard-home/conf/** filter=git-crypt diff=git-crypt
dot_config/pihole/.pihole.env filter=git-crypt diff=git-crypt
dot_config/emby/.env filter=git-crypt diff=git-crypt
dot_config/karakeep/.env filter=git-crypt diff=git-crypt
dot_config/himalaya/config.toml filter=git-crypt diff=git-crypt
dot_config/ortie/config.toml filter=git-crypt diff=git-crypt
dot_config/git/work.config filter=git-crypt diff=git-crypt
dot_zshenv.tmpl filter=git-crypt diff=git-crypt
