[submodule "zsh"]
	path = .zsh
	url = git@github.com:tr1v3r/.zsh.git
[submodule "nvim"]
	path = .nvim
	url = git@github.com:tr1v3r/nvim.git
[submodule "firefox"]
	path = dot_config/firefox
	url = git@github.com:tr1v3r/Firefox-UI-Fix.git
	branch = custom
[submodule "ai/llm-wiki"]
	path = dot_config/ai/llm-wiki
	url = https://gist.github.com/396fcb101232c68ff40322efebb56a64.git
[submodule "hermes"]
	path = .hermes
	url = git@github.com:tr1v3r/hermes.git
